$blue: #1F71B9;
$blueLight: #0D59F2;
$blueDark: #1F467A;

$green: #26D7B2;
$greenLight: #7ED321;
$greenDark: #349203;
$greenText: #0F5748;
$greenMenu: #A8F0E1;

$grey: #F0F0F0;
$text-grey: #7E7E7E;
$darkGrey: #4A4A4A;

$brandBlue: #195BB3;
$yellow: #FFDC7A;
$red: #FF7370;

$grey: #F2F2F2;
$greyText: #737373;

$greenHover: #7DE8D2;
$greenHoverText: #17826C;

$highlightGreen: $green;
$highlightBlue: #1795CF;
$higlightYellow: $yellow;
$highlightRed: $red;


$highlightOrange: #FFBE62;
$highlightDarkGreen: #417505;
$highlightCyan: #3AC4AE;

